<html>
<head>
    <title> pratik pdf</title>
</head>
<body>

<!--{% if report %}-->
<!--<table>-->
<!--    <thead>-->
<!--        <th>name</th>-->
<!--        <th> marks</th>-->

<!--    </thead>-->
<!--    {% for key, value in my_.items %}-->
<!--       <tr>-->
<!--           <td> {{key}} {{value}}</td>-->


<!--       </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
<!--{% endif %}-->

<table>
    {% for key, value in data %}
    <tr>
        <td> {{ key }} - {{value}}</td>

    </tr>
{% endfor %}
</table>




<table>
    {% for key, value in data1 %}
    <tr>
        <td> {{ key }} - {{value}}</td>

    </tr>
{% endfor %}
</table>




</body>
</html>